body {
  margin: 60px auto;
  width: 900px;;
}

h1{
  position: relative;
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  margin:auto
}

p{
  font-size: 1.5em;
  color: #333;
  margin: 1px;
}

#battlefield {
	position:relative;
	margin:auto ;
	width:500px;
	height: 500px;
}

#battlefield div {
	position:absolute;
  box-sizing: border-box; 
	background: #6ec1e5; 
	border: 1px solid rgb(0, 0, 0);
	width:50px;
	height:50px;
}
.watch {
	text-align: center;
	background-color: rgb(175, 195, 178);
	width: 360px;
	margin: 1rem auto;
	padding: 1rem 1rem;
	border-radius: 2rem;
}

.time {
	font-size: 4em;
	font-weight: 200;
	margin: bottom 5px;
  text-align:center
}
